body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.scrollable {
    max-height: calc(100vh - 65px - 54px - 42px - 1rem);
    overflow-y: scroll;
}

@media screen and (max-width: 767px) {
    body {
        overflow: auto;
    }

    #app {
        overflow: auto;
    }

    .scrollable {
        max-height: unset;
        overflow-y: scroll;
    }
}

.scrollable::-webkit-scrollbar {
    display: none;
}
